<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Searchable Select
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item (click)="select.open()">
    <ion-label>Select user</ion-label>
    <app-searchable-select 
    title="Select a user" 
    [data]="users" 
    itemTextField="firstName" 
    [multiple]="false"
    #select
    (selectedChanged)="selectChanged($event)">
    </app-searchable-select>
  </ion-item>


</ion-content>